a:hover {
	text-decoration: underline;
}

.token.property {
	color: #1469B8;
}

.token.punctuation {
	color: #1469B8;
}

.markdown-section p.tip code {
	background-color: transparent;
}

.app-nav li ul {
	background: #FFFDFA;
	color: #11181C;
	padding-right: 1.5em;
}

section.cover p {
	padding: 0 5em;
}